@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<div class="container card">
    <h3>STYLIST DETAILS</h3>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
    <h3>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h3>
    @* <h3>@Html.DisplayNameFor(model => model.Appointment): @Html.DisplayFor(model => model.Appointment)</h3> *@

    <ul>
    @if (@Model.Clients.Count == 0)
    {
      <p>add your first stylist</p>
    }

    @foreach (Client client in @Model.Clients)
    {
      <li>Description: @client.Description</li>
    }
    </ul>

    <p>@Html.ActionLink("Stylist List", "Index")</p>
    <p>@Html.ActionLink("UPDATE", "Edit", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("DELETE", "Delete", new { id = Model.StylistId })</p>
</div>
