@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<div class="container card">
    <h3>STYLIST DETAILS</h3>
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

    <ul>
    @if (@Model.Clients.Count == 0)
    {
      <p>@Html.ActionLink("Add Your First Client", "Create", "Clients")</p>
    }

    @foreach (Client client in @Model.Clients)
    {
      <li>Description: @client.Description</li>
    }
    </ul>
    <strong><p>@Html.ActionLink("FULL LIST", "Index")</p></strong>
    <strong><p>@Html.ActionLink("UPDATE STYLIST", "Edit", new { id = Model.StylistId })</p></strong>
    <strong><p>@Html.ActionLink("DELETE STYLIST", "Delete", new { id = Model.StylistId })</p></strong>
    <strong><p>@Html.ActionLink("ADD CLIENT", "Create", "Clients")</p></strong>
</div>