@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container card">
    <h3>UPDATE</h3>

    <h3>Update Stylist: @Html.DisplayFor(model => model.Name)</h3>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.StylistId)
        <br>
        <br>
        @Html.EditorFor(model => model.Name)
        <br>
        <br>
        @Html.LabelFor(model => model.Name)
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Save" />
        <br>
        <br>
    }
    <p>@Html.ActionLink("Stylist List", "Index")</p>
    <br>
</div>