@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container card">

    <h3>Update Stylist: @Html.DisplayFor(model => model.Name)</h3>
    <hr>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.StylistId)
        <br>
        @Html.EditorFor(model => model.Name)
        @Html.LabelFor(model => model.Name)
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Save" />
        <br>
        <br>
    }
    <strong><p>@Html.ActionLink("Stylist List", "Index")</strong></p>
    <br>
</div>
<hr>