@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container card">
    <h3>Edit</h3>

    <h3>Edit this stylist: @Html.DisplayFor(model => model.Name)</h3>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.StylistId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        <br>
        <br>
        @* @Html.LabelFor(model => model.Appointment)
        @Html.TextBoxFor(model => model.Appointment) *@
        <br>

        <input type="submit" class="btn btn-primary" value="Save" />
    }
    <p>@Html.ActionLink("Stylist List", "Index")</p>
</div>