@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add New Client</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    
    <input type="submit" value="New Client" />
}
<p>@Html.ActionLink("Client List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>