@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="container card">
    <h3>CLINETS DETAILS</h3>

    <hr />
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
    <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
      
    <p>@Html.ActionLink("Update Client", "Edit", new { id = Model.ClientId })</p>
    <p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>