@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="container card">
    <h3>CLIENTS DETAILS</h3>
    <hr>  
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
    <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
    <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

    <strong><p>@Html.ActionLink("FULL LIST", "Index")</p></strong>
    <strong><p>@Html.ActionLink("UPDATE CLIENT", "Edit", new { id = Model.ClientId })</p></strong>
    <strong><p>@Html.ActionLink("DELETE CLIENT", "Delete", new { id = Model.ClientId })</p></strong>
</div>