@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="container card">
    <h3>UPDATE</h3>

    <h3>UPDATE REQUEST: @Html.DisplayFor(model => model.Description)</h3>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ClientId)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        @Html.LabelFor(model => model.Stylist)
        @Html.DropDownList("StylistId")

        <input type="submit" class="btn btn-primary" value="SAVE" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</div>