@{
    Layout = "_Layout";
} 

@model HairSalon.Models.Client
<div class="container card">

<h3>UPDATE CLIENT: @Html.DisplayFor(model => model.Name)</h3>
    <div class="form-group">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ClientId)
            <br>
            @Html.EditorFor(model => model.Description)
            @Html.LabelFor(model => model.Description)
            <br>
            @Html.DropDownList("StylistId")
            @Html.LabelFor(model => model.Stylist)
            <br>
            <br>
            <input type="submit" class="btn btn-primary" value="SAVE" />
        }
        <br>
        <strong><p>@Html.ActionLink("FULL LIST", "Index")</p></strong>
        <br>
    </div>
</div>